aside.tooltip-wrapper {
	background: var(--gradient-light);
	max-width: 200px !important;
	width: auto !important;
	padding: 5px;
	border-radius: 4px;
	padding: 5px;
	font-size: 0.8rem;
}

.tooltip-book {
	font-weight: 800;
}

.tooltip-user {
	font-variant: italic;
}

.tooltip-name {
	font-variant: italic;
}

.highest-rated {
	background: var(--green);
}

.lowest-rated {
	background: var(--red);
}

@media screen and (max-width: 800px) { 
	aside.tooltip-wrapper {
		max-width: 150px;
		font-size: 0.7rem;
	}
}
