.list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list-title-wrapper {
	display: flex;
	align-items: center;

	h3 {
		margin: 0 4px;
	}
}

ul.list {
	list-style: none;
	display: table;
	margin: 10px 40px 10px 0;
}

li.horizontal-list {
	display: table-row;

}

li.list-item-wrapper {
	display: table-row;
	height: 30px;
	padding: 5px;
	text-align: right;
	span {
		display: table-cell;
		padding: 5px;
	}
}

.list-spacer {
	display: table-cell;
	height: 20px;
}
