.tooltip {
    position: relative;
    padding-top: 3px;
    cursor: help;
}

.tooltip-content {
    display: none;
    position: absolute;
    top: 30px;
    left: -96px;
    padding: 5px;
    border-radius: 4px;
    width: 0;
    font-size: 0.8rem;
    width: 220px;
    background-color: black;
    color: white;
    z-index: 5;

    &.above-tooltip {
        display: relative;
        top: -7px;
        left: -11px;
        width: 0;
        font-size: 3rem;
        color: black;
        background-color: transparent;
    }
}

.tooltip:hover .tooltip-content {
    display: block;
}
