
#hamburger-menu {
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
	font-size: 2.5rem;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 40px;
}

nav {
	position: fixed;
	z-index: 2;
	display: inline-flex;
	height: 50px;
	background: var(--nav-gradient);
	width: 100vw;
	// box-shadow: var(--shadow);
	font-family: 'Archivo', sans-serif;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: auto;
		margin: 0;
		padding: 0;
		font-size: 2rem; 

		li {

			&.nav-logo-container {
				cursor: pointer;
				margin: 0 0 0 10px;
				width: 65px;
				height: 40px;
				padding: 0;

				> a:hover {
					background: transparent;
				}
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			#active-link {
				color: white;
			}

			.sub-menu {
				position: fixed;
				display: none;
				top: 50px;
				margin: 0;
				padding: 0;
				background: var(--gradient);
				background: black;
				font-size: 0.8rem;
				width: 230px;
				justify-content: left;
				li {
					margin: 0;
					// padding: 15px 5px;
					&:hover {
						background: var(--gradient);
						overflow-x: hidden;
						white-space: nowrap;
					}

					.nav-button {
						display: flex;
						padding: 0;
						color: black;
						background: transparent;
						font-size: 1.4rem;

						// width: 100%;
						// height: 100%;

					}
				}
			}

			&:hover > .sub-menu {
				display: flex;
				flex-direction: row !important;
				li {
					width: 100%;
				}
				a {
					color: white !important;
				}
			}

			.adjust-left {
				margin-left: -10px;
			}

			&.club-nav {
				font-size: 1rem;
				position: absolute;
				right: 25px;
				top: 5px;
			}

			&.nav-links ul {
				height: 50px;
				width: calc(100vw - 120px);

				li {
					.nav-button {
						display: flex;
						color: black;
						background: transparent;
						font-size: 1.4rem;
						padding: 10px 30px 10px;
						text-decoration: none;
						color: rgba(0,0,0,1);
						letter-spacing: 0.3rem;
						transition: background 0.2s ease, color 0.05s ease;
						text-shadow: 0px 0 1px black;
						border: none;
						cursor: pointer;
						&:hover {
							background: var(--gradient);
							color: white;
						}
						.nav-tab-name {
							display: flex;
						}
						.nav-tab-emoji {
							display: none;
						}
					}	
				}
			}
		}
	}
}

@media screen and (max-width: 800px) { 
	nav ul {
		flex-direction: column;
		justify-content: space-around;
	}
	nav ul li.nav-links ul li .nav-button {
		padding: 0 10px 0 0;
		.nav-tab-name {
			display: none;
		}
		.nav-tab-emoji {
			display: flex;
		}
	}
}

