.scatterplot-chart-wrapper {
	margin: 80px 30px;
	min-width: 450px;
	height: 600px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--gradient-light);
	color: black;
	border-radius: 8px;
	> div > div {
		width: 97vw;
		overflow: auto;
	}
}

@media screen and (max-width: 800px) { 
	.scatterplot-chart-wrapper {
		margin: 80px 20px 80px 5px;
	}
}

