#root {
	background: skyblue; // fallback
	background-color: rgba(198,231,241,1);
	background: linear-gradient(to right, rgba(0,0,100,.3), rgba(255,100,127,.2)), radial-gradient(closest-corner at 50% 50%, teal, black);
	min-height: 100vh;
	min-width: 100vw;
}

.book-search-feedback {
	text-align: center;
	background: rgba(107, 209, 251, 0.5);
	display: block;
	width: auto;
	margin: 80px 0 20px;
	padding: 5px;
}

.error-message {
	text-align: center;
	background: rgba(255, 100, 127, 0.9);
	display: block;
	width: auto;
	margin: 80px 0 20px;
	padding: 5px;
	color: black;
	font-weight: bold;
}

#name-input {
	display: block;
	width: 300px;
	margin: 0px auto;
}

#book_search_form {
	margin-top: 95px;
}

#book_search {
	text-align: center;
	background: var(--gradient-light);
	&:hover, &:active, &:focus {
		box-shadow: var(--shadow);
	}
}

#book-search-results {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 98vw;
	margin: 20px 1vw 0 0;
	padding: 0;
	li {
		display: inline-block;
		width: 240px;
		margin: 0 50px 10px;
		padding: 10px;
		.description-wrapper {
			position: relative;
		}
		.description {
			display: flex;
			position: relative;
			top: 18px;
			left: 75px;
			margin: 0;
			font-weight: bold;
			z-index: 1;
			font-size: 0.8rem;
			padding: 7px 0 0 10px;
			text-align: left;
			height: 20px;
			width: 65px;
			color: black;
			background: var(--gradient2);
			border-radius: 10px 10px 0 0;
			z-index: 2;
			span {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
				margin: 0 0 10px;
				a {
					border: 1px solid black;
					color: black;
					transition: color 0.1s ease;
					&:hover {
						color: white;
						// border: 1px solid skyblue;

					}
				}
			}
			.hidden-description {
				display: block;
				position: absolute;
				top: 20px;
				left: 0px;
				width: 65px;
				max-height: 350px;
				overflow-y: auto;
				border-radius: 2px;
				font-size: 0.8rem;
				font-style: italic;
				background: var(--gradient3);
				color: black;
				z-index: 2;
				height: 0;
				text-overflow: ellipsis;
				transition: height 0.15s ease, padding 0.15s ease, width 0.1s ease, left 0.1s ease;
				transition-delay: 0.05s;



				p {
					display: flex;
					flex-direction: column;
					justify-content: center;

					span {
						text-align: left;
						margin: 0;
					}

					.categories, .pages, .published {
						display: inline-block;
					}

					.synopsis {
						margin-top: 5px;
					}
					}
					.synopsis {
						font-weight: normal;
						font-style: italic;
					}
				}
			}

			.description:hover .hidden-description {
				padding: 12px;
				height: 300px;
				width: 250px;
				left: -100px;
				// overflow: scroll;
			}
			figure {
				margin: 10px 10px 80px;
				padding: 0;
				display: flex;
				align-items: bottom;

				div {
					position: relative;
					top: -16px;
					border-radius: 0;
					border: none;
					display: block;
					z-index: 1;
					width: 200px;
					height: 300px;
					transition: transform 0.2s ease;
				}

				div:hover {
					transform: scale(1.15, 1.15);
					z-index: 3;
				}
			}
		
	}
}

.add-book {
	margin: 70px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	section {
		flex-direction: column;
	}
}

.instructions {
	text-align: center;
}

.small-synopsis {
	max-height: 300px;
	overflow-y: auto;
	
}

.new-book-form {
	width: 350px;
	.actions {
		margin: 20px auto;
	}
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#logo {
	position: fixed;
	z-index: -1;
	width: 400px;
	max-width: 98vw;
	height: auto;
	top: 120px;
	right: calc(50vw - 200px);
	opacity: 0.15;
	transition: width 0.2s ease-out, opacity 0.2s ease-out, right 0.2s ease-out, top 0.2s ease-out;
}

.logo-appear {
	opacity: 1 !important;
	z-index: -1;
}

#notice {
	opacity: 1;
	position: fixed;
	top: -130px;
	left: 25vw;
	background: rgba(107, 209, 251, 0.9);
	width: 50vw;
	padding: 15px 20px;
	margin: 0 auto;
	border-radius: 25px;
	text-align: center;
	font-size: 1.2rem;
	color: black;
	z-index: 10;
	transition: opacity 1s ease, z-index 2s ease;
	transition-delay: 3s;
	-webkit-animation-name: moveMessage;
    -webkit-animation-duration: 3s;
		animation-duration: 3s;
    animation-name: moveMessage;
}

@keyframes moveMessage {
    0%   {top: 80px;}
    80%  {top: 80px;}
    100% {top: -130px;
    display: none;
    visibility: none;
    }
}

// @keyframes notice-disappear {
// 	0% {
// 	opacity: 0;
// 	transform: translateX(100%);
// 	}
// 	70% {
// 	opacity: 1;
// 	transform: translateX(0);
// 	}
// 	100% {
// 	opacity: 0;
// 	}
// }

.icon {
	width: 24px;
	height: 24px;
}

.library {
	position: relative;
	top: 4px;
	left: 4px;
}

.icon-small {
	width: 16px;
	height: 16px;
	position: relative;
	left: 2px;
	top: 3px;
}

.text-after-icon {
	position: relative;
	bottom: 4px;
	background: transparent;
	color: var(--linkfg);
}

.rounded-link, input[type="submit"] {
	margin: 5px;
	padding: 7px 10px;
	height: auto;
	font-size: 1.1rem;
	background: var(--fglink);
	text-decoration: none;
	color: white;
	display: inline-block;
	width: auto;
	text-align: center;
	// height: 100%;
	border-radius: 25px;
	border: 2px solid var(--main);
	background: var(--gradient);
	transition: transform 0.1s ease-in-out;
	&:hover {
		transition: background 0.15s ease, color 0.15s ease;
		opacity: 1;
		cursor: pointer;
		// transform: scale(1.0, 1.);
		background: var(--gradient2);
}

}

.fixed-width-link {
	width: 200px;
}

.small-link {
	height: 18px;
	padding: 4px 6px;
	font-size: 0.9rem;
}

.expanding-link {
	height: 24px;
	transition: height 0.2s ease;

	&:hover {
		position: relative;
		height: 32px;
		transition: height 0.2s ease;
	}
}

.transparent-link {
	background: transparent;
}

.solid-link {
	background: var(--opaque);
}

.search-links {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
}

#book-header {
	z-index: 1 !important;
	position: absolute;
	right: 0;
	width: 95vw;
	opacity: 0.2;
	filter: hue-rotate(50%);
}

.empty {
	font-size: 1.6rem;
	margin: 280px auto -200px;
	padding: 10px 20px;
	text-align: center;
	div {
		text-align: center;
		margin: 10px auto 40px;
	}
}

.empty-short {
	margin: 390px auto -200px;
}

ul {
	display: flex;
	align-items: right;
	justify-content: top;
	li {
		font-size: 1.3rem; 
		list-style-type: none;
		display: inline-block;
		mix-blend-mode: hard-light;
	}
}

.book-text {
	font-size: 3.2vw;
	color: yellow;
	text-align: center;
	margin: 100px 0 30px;
	background: rgba(107, 209, 251, 0.5);
	display: block;
	width: auto;
	padding: 5px;
	mix-blend-mode: hard-light;
}

.what-is {
	margin: 80px 0 0;
	text-align: center;
	font-size: 0.9rem;
	font-family: var(--font2);
	a {
		border-radius: 8px;
	}
}

.current-book-text {
	margin-top: 390px;
	margin-bottom: 30px;
}

// .book-cover {
// 	height: auto;
// 	margin: 50px 50px;
// 	padding: 0;
// 	display: inline-flex;
// }

// .book-cover img {
// 	width: 30vw;
// 	height: auto;
// }

.book-cover-button {
	border: none;
	background: transparent;
	position: relative;
	top: 24px;
	z-index: 1;
	&:hover {
		background: none;
		cursor: pointer;
		z-index: 2;
	}
}


// styling for book cover modal
// .data-react-modal-body-trap {
// 	z-index: 100;
// 	width: 90vw;
// 	height: 90vh;
// 	margin: 5vh 5vw;
// }

.align-left {
	display: flex;
	justify-content: left;
	align-items: left;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 20px;
}

.selected-by {
	z-index: 1;
	position: absolute;
	background: var(--gradient2, grey);
	color: black;
	padding: 2px 5px;
}

figure {
	display: flex;
	position: relative;
	padding: 0;
	&:hover span img {
		box-shadow: var(--shadow-big);
	}
}

.no-box-shadow {
	&:hover span img {
		box-shadow: none;
	}
}

// figcaption {
// 	position: absolute;
// 	height: 100%;
// 	margin: 0 auto;
// 	padding: 0;
// 	width: 100%;
// 	text-align: center;
// }

.margin-top-40 {
	position: relative;
	margin-top: 40px;
	margin-bottom: -78px;
}

.add-rating {
	height: 36px;
	margin: 150px auto 0;
	width: 150px;
	position: relative;
	color: white;
	top: 0;
	opacity: 1;
	background: var(--gradient2);
	transform: none;
	transition: all .15s ease;
	z-index: 2;
	filter: contrast(140%);
	mix-blend-mode: luminosity;
	border: 2px solid blue;

	&:hover {
		border: 1px solid white;
	}

	span {
		text-shadow: 0 0 4px black;
		letter-spacing: 2.5px;
	}
}

.move-add-rating-up {
	font-size: 1.4rem;
	height: 42px;
	padding: 10px 2px;
	opacity: 1;
	border: none;
	top: -192px;
	transition: all 150ms ease;
	border-radius: 25px 25px 0 0;
	box-shadow: 3px -1px 46px -3px rgba(27,92,245,1);
	z-index: 2;
	&:hover {
		height: 42px;

	}
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	input, textarea {
		width: 80%;
		height: 28px;
		padding: 4px 10px;
		font-size: 1.4rem;
		color: black;
		max-width: 300px;
		border-radius: 25px;
	}

	textarea {
		font-family: var(--font1);
		border-radius: 4px;
		height: 60px;
		font-size: 0.9rem;
		overflow: auto;
		resize: vertical;
		
	}

	input[type="submit"] {
		height: 38px;
		width: auto;
		background: rgba(107, 209, 251, 1);
	}
}

@media screen and (max-width: 800px) {
	#logo {
		width: calc(100vw - 150px);
		height: auto;
		right: 90px;
	}
}
