.tooltip-background {
	padding: 5px;
	border-radius: 4px;
	background: var(--gradient-light);
	font-size: 0.8rem;
}

.tooltip-book {
	font-weight: 800;
}

.tooltip-user {
	font-variant: italic;
}

.tooltip-name {
	font-variant: italic;
}
